
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
}